<header class="top-header">
  <div class="user-profile">
    <button class="btn-notif">
      <i class="fa fa-bell"></i> 🔔
      <span class="notif-badge"></span>
    </button>

    <button class="profile-btn" (click)="goToProfile()">
      <div class="user-info">
        <span class="user-name">{{ currentUser?.prenom }} {{ currentUser?.nom }}</span>
        <span class="user-role">{{ currentUser?.role || 'Utilisateur' }}</span>
      </div>
      <div class="user-avatar">
        <img [src]="getPhotoUrl(currentUser?.photo, (currentUser?.prenom || '') + ' ' + (currentUser?.nom || ''))"
          alt="User">
      </div>
    </button>
  </div>
</header>