:host {
    display: block;
    height: 100vh;
}

.sidebar {
    width: 260px;
    height: 100vh;
    background-color: #F4F7F6;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

.logo-section {
    padding: 0 25px 30px;
    text-align: center;
}

.logo {
    width: 100%;
    margin-bottom: 5px;
}

.tagline {
    font-size: 10px;
    color: #888;
    margin: 0;
}

.menu {
    flex-grow: 1;
    overflow-y: auto;
    /* Allows the middle menu to scroll if there are too many items */
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    color: #737485;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.nav-item:hover,
.nav-item.active {
    color: #ffffff;
    background-color: #1e61a5;
    border-left: 4px solid #393952;
}

.bottom-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0 20px 0;
    /* Added more bottom padding */
    margin-top: auto;
    /* Pushes this section to the absolute bottom of the flex container */
}

.logout {
    color: #f64e60;
}